{% extends '::form.html.twig' %}
{% import '::macros.html.twig' as macro %}

{% block body %}
    <a href={{ path('bookstore_demo_book_list') }}>Powrót do listy</a>
    
    <div class='book-form'>
    {{ form_start(form) }}
        <div class='left-clmn'>
            <div class="errors">
                {{ form_errors(form) }}
            </div>
            {{ form_row(form.title) }}
            {{ form_row(form.author) }}
            {{ form_row(form.price) }}
            
            <div id="book-categories-container">
                <h4>Kategorie przypisane do książki</h4>

                <div id="book-categories" data-prototype="{{ form_widget(form.categoriesWithPriority.vars.prototype)|e }}">
                {% for category in form.categoriesWithPriority %}  
                        <div class='book-ctg'>
                            {{ form_widget(category) }}
                            {{ form_errors(category) }}
                            <a class='del-category' href>Usuń</a>  
                        </div>
                {% endfor %}  
                </div>        
            </div>                
            {{ form_widget(form.submit) }}    
        </div>
        <div class='right-clmn'>
            <h3>Wybierz kategorię</h3>
            {{ macro.categories_tree(categories)}}                        
        </div>        
                    
    {{ form_end(form) }}
    </div>
{% endblock %}
    
{% block bottom_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {  
            var categoriesCount = '{{ form.categoriesWithPriority|length }}';
                         
            $('.categories').categories({
                path: 'bookstore_demo_categories',
                buildBreadcrumb: true,
                showChooseButton: true,
                onCategoryChosen: function(selectedCategory) {
                    if (selectedCategory.id) {
                        var categoriesList = $('#book-categories');

                        var newWidget = categoriesList.attr('data-prototype');                    
                        newWidget = newWidget.replace(/__name__/g, categoriesCount);
                        categoriesCount++;                    
                        
                        $("<div class='book-ctg'></div>").appendTo($('#book-categories-container'));
                        var addedBookCtg = $('.book-ctg').last();
                        $(newWidget).appendTo(addedBookCtg);
                        $("<a class='del-category' href>Usuń</a>").appendTo(addedBookCtg);
                        $('.category_id').last().val(selectedCategory.id);
                        $('.category_name').last().val(selectedCategory.name);
                    }
                }
            });  
            
            $('#book-categories-container').on('click', '.del-category', function(e) {
                e.preventDefault();
                $(this).parents('div.book-ctg').remove(); 
            });
        })
        </script>
{% endblock %}    
