{% extends '::base.html.twig' %}

{% block left %}
    <p>Kategorie</p>
    <div class="categories">
    <ul>
        {% for category in categories %}
            <li class='cat'><a href={{ path('bookstore_demo_categories', {'parentId': category.id}) }} catg-id={{ category.id }}>{{ category.name }}</a></li>
        {% endfor %}
            </ul>
        </div>
{% endblock left %}

{% block body %}
        <div><a href="{{ path("bookstore_demo_book_add") }}">Dodaj nową książkę</a></div>
        <div><a href="{{ path("bookstore_demo_category_add") }}">Dodaj nową kategorię</a></div>
        <div id='tbl'>
        {% include 'BookstoreDemoBundle:Book:table_with_filter.html.twig' %}    
            </div>        
{% endblock %}

{% block bottom_javascripts %}
    {{ parent() }}

            <script type="text/javascript">
                $(function() {
                    var blockUiMsg = '<h3>Ładowanie...</h3>';
                    function sumbitForm() {
                        $.get(Routing.generate('bookstore_demo_book_list') + '?' + $('form').serialize(), function(data) {
                            $('#tbl').html(data);
                            $.unblockUI();
                        });
                    }

                    $('.categories').on('click', '.cat a', function(event) {
                        $.blockUI({message: blockUiMsg});
                        event.preventDefault();
                        var self = $(this),
                                liElem = self.parent('li');
                        if (liElem.hasClass('unfold')) {
                            liElem.removeClass('unfold');
                            liElem.find('ul').remove();
                        } else {
                            liElem.addClass('unfold');
                            $.get(self.attr('href'), function(data) {
                                var lnth = data.length;
                                if (lnth) {
                                    var dom = '<ul>';
                                    for (var i = 0; i < lnth; i++) {
                                        dom = dom + "<li class='cat'><a href='" + Routing.generate('bookstore_demo_categories', {parentId: data[i].id}) + "' catg-id=" + data[i].id + ">" + data[i].name + "</a></li>"
                                    }
                                    dom = dom + '</ul>';
                                }

                                self.after(dom);
                            });
                        }

                        $('form #categoryId').val(self.attr('catg-id'));
                        sumbitForm();
                    });

                    $("#tbl").on("submit", 'form', function(event) {
                        event.preventDefault();
                        $.blockUI({message: blockUiMsg});
                        sumbitForm();
                    });

                    $("#tbl").on("click", '.pagination a', function(event) {
                        event.preventDefault();
                        $.blockUI({message: blockUiMsg});
                        $.get($(this).attr('href'), function(data) {
                            $('#tbl').html(data);
                            $.unblockUI();
                        });
                    });

                })
                </script>
{% endblock %}