{% extends '::base.html.twig' %}
{% import '::macros.html.twig' as macro %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bookstoredemo/js/book_list.js') }}"></script>
{% endblock %}
    
{% block left %}
    <a href>Wszystkie kategorie</a>    
    {{ macro.categories_tree(categories)}}
{% endblock left %}

{% block body %}
        <div><a href="{{ path("bookstore_demo_book_add") }}">Dodaj nową książkę</a></div>
        <div><a href="{{ path("bookstore_demo_category_add") }}">Dodaj nową kategorię</a></div>
        <div id='tbl'>
            {% include 'BookstoreDemoBundle:Book:table_with_filter.html.twig' %}    
        </div>        
{% endblock %}