{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bookstoredemo/js/book_list.js') }}"></script>
{% endblock %}
    
{% block left %}
    <p>Kategorie</p>
    <div class="categories">
    <ul>
        {% for category in categories %}
            <li class='cat'><a href={{ path('bookstore_demo_categories', {'parentId': category.id}) }} catg-id={{ category.id }}>{{ category.name }}</a></li>
        {% endfor %}
            </ul>
        </div>
{% endblock left %}

{% block body %}
        <div><a href="{{ path("bookstore_demo_book_add") }}">Dodaj nową książkę</a></div>
        <div><a href="{{ path("bookstore_demo_category_add") }}">Dodaj nową kategorię</a></div>
        <div id='tbl'>
        {% include 'BookstoreDemoBundle:Book:table_with_filter.html.twig' %}    
            </div>        
{% endblock %}